<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet" />
        <title>List Page</title>
        <!--필터 스크롤 따라오는 기능-->
        <script type="text/javascript">
            var stmnLEFT = 14; // 왼쪽 여백
            var stmnGAP1 = 0; // 위쪽 여백
            var stmnGAP2 = 170; // 스크롤시 브라우저 위쪽과 떨어지는 거리
            var stmnBASE = 150; // 스크롤 시작위치
            var stmnActivateSpeed = 15; //스크롤을 인식하는 딜레이 (숫자가 클수록 느리게 인식)
            var stmnScrollSpeed = 25; //스크롤 속도 (클수록 느림)
            var stmnTimer;

            function RefreshStaticMenu() {
                var stmnStartPoint, stmnEndPoint;
                stmnStartPoint = parseInt(document.getElementById("STATICMENU").style.top, 10);
                stmnEndPoint = Math.max(document.documentElement.scrollTop, document.body.scrollTop) + stmnGAP2;
                if (stmnEndPoint < stmnGAP1) stmnEndPoint = stmnGAP1;
                if (stmnStartPoint != stmnEndPoint) {
                    stmnScrollAmount = Math.ceil(Math.abs(stmnEndPoint - stmnStartPoint) / 15);
                    document.getElementById("STATICMENU").style.top =
                        parseInt(document.getElementById("STATICMENU").style.top, 10) + (stmnEndPoint < stmnStartPoint ? -stmnScrollAmount : stmnScrollAmount) + "px";
                    stmnRefreshTimer = stmnScrollSpeed;
                }
                stmnTimer = setTimeout("RefreshStaticMenu();", stmnActivateSpeed);
            }
            function InitializeStaticMenu() {
                document.getElementById("STATICMENU").style.left = stmnLEFT + "vw"; //처음에 왼쪽에 위치
                document.getElementById("STATICMENU").style.top = document.body.scrollTop + stmnBASE + "px";
                RefreshStaticMenu();
            }
        </script>
        <!--음식점 대륙별 토글(접었다 폈다) 기능-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.js"></script>
    </head>

    <body onload="InitializeStaticMenu();" id="list_body">
        <!--header 영역(지도 보기, 위로 스크롤)-->
        <div class="list_header">
            <%= link_to image_tag("/assets/icon/scroll_up.png"), "/map" %>
        </div>



            <%= render 'map/restaurant' %>




        <!--main 영역(filter, list(section(section_head, section_content)))-->
        <div class="main">
            <div id="STATICMENU" class="filters">
                <!--필터 자바스크립트로 구현하면서 수정해야 함-->
                <div class="location_filter">
                    <h3>지역</h3>
                    <label
                        ><input id="checkbox" type="checkbox" name="location" value="dongjak" /><span><p>동작구</p></span></label
                    >
                    <label
                        ><input id="checkbox" type="checkbox" name="location" value="mapo" /><span><p>마포구</p></span></label
                    >
                    <label
                        ><input id="checkbox" type="checkbox" name="location" value="seodae" /><span><p>서대문구</p></span></label
                    >
                    <label
                        ><input id="checkbox" type="checkbox" name="location" value="seocho" /><span><p>서초구</p></span></label
                    >
                    <label
                        ><input id="checkbox" type="checkbox" name="location" value="yongsan" /><span><p>용산구</p></span></label
                    >
                    <label
                        ><input id="checkbox" type="checkbox" name="location" value="jongno" /><span><p>종로구</p></span></label
                    >
                    <label
                        ><input id="checkbox" type="checkbox" name="location" value="jung" /><span><p>중구</p></span></label
                    >
                    <label
                        ><input id="checkbox" type="checkbox" name="location" value="jeongbu" /><span><p>의정부시</p></span></label
                    >
                    <label
                        ><input id="checkbox" type="checkbox" name="location" value="pyeongtaek" /><span><p>평택시</p></span></label
                    >
                </div>
                <div class="price_filter">
                    <h3>가격대</h3>
                    <label
                        ><input id="checkbox" type="checkbox" name="price" value="under10" /><span>만원미만</span></label
                    >
                    <label
                        ><input id="checkbox" type="checkbox" name="price" value="10" /><span>1만원대</span></label
                    >
                    <label
                        ><input id="checkbox" type="checkbox" name="price" value="20" /><span>2만원대</span></label
                    >
                    <label
                        ><input id="checkbox" type="checkbox" name="price" value="30" /><span>3만원대</span></label
                    >
                </div>
                <div class="type_filter">
                    <h3>종류</h3>
                    <label
                        ><input id="checkbox" type="checkbox" name="type" value="restaurant" /><span>식사</span></label
                    >
                    <label
                        ><input id="checkbox" type="checkbox" name="type" value="cafe" /><span>카페</span></label
                    >
                </div>
                <h5 class="renderCount"></h5>
            </div>

            <div class="list">
                <div class="section">
                    <div class="section_head">
                        <!--대륙 이름 옆에 숫자 구현해야 됨-->
                        <button><img src="assets/list/globe.png" />아프리카</button>
                    </div>
                    <div class="section_content">
                        <% @restinfos.each do |restinfo|%>
                            <% if restinfo.continent == '아프리카' %>
                                
                                    <div class="card" data-location=<%=restinfo.filter_where%> data-price=<%=restinfo.filter_price%> data-type=<%=restinfo.filter_type%>>
                                        <a href="#modal<%= restinfo.googleurl%>" style="text-decoration:none">   
                                            <div class="title">
                                                <!--DB에서 가져오기-->
                                                <div class="flag"><img src= <%= "assets/restaurant/"+ restinfo.restname + "/flag.png"%> /></div>
                                                <div class="country" style=<%= "color:"+ restinfo.font%>><%= restinfo.flag%></div>
                                            </div>
                                            <div class="content">
                                                <!--DB에서 가져오기-->
                                                <div class="food"><img src=<%= "assets/restaurant/"+ restinfo.restname + "/menu1.png"%> /></div>
                                                <div class="restaurant"><%= restinfo.rest_kor %></div>
                                                <div class="address_time">
                                                    <img class="address" src="assets/list/address.png" />
                                                    <h4 class="address_h4"><%=restinfo.address%></h4>
                                                    <img class="time" src="assets/list/clock.png" />
                                                    <h4 class="time_h4"><%=restinfo.openwhen%></h4>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                
                            <% end%>
                        <% end%>                                
                    </div>
                </div>
                <div class="section">
                    <div class="section_head">
                        <button><img src="assets/list/globe.png" />아시아</button>
                    </div>
                    <div class="section_content">
                        <% @restinfos.each do |restinfo|%>
                            <% if restinfo.continent == '아시아' %>
                            
                                <div class="card" data-location=<%=restinfo.filter_where%> data-price=<%=restinfo.filter_price%> data-type=<%=restinfo.filter_type%>>
                                    <a href="#modal<%= restinfo.googleurl%>" style="text-decoration:none">    
                                        <div class="title">
                                            <!--DB에서 가져오기-->
                                            <div class="flag"><img src= <%= "assets/restaurant/"+ restinfo.restname + "/flag.png"%> /></div>
                                            <div class="country" style=<%= "color:"+ restinfo.font%>><%= restinfo.flag%></div>
                                        </div>
                                        <div class="content">
                                            <!--DB에서 가져오기-->
                                            <div class="food"><img src=<%= "assets/restaurant/"+ restinfo.restname + "/menu1.png"%> /></div>
                                            <div class="restaurant"><%=restinfo.rest_kor%></div>
                                            <div class="address_time">
                                                <img class="address" src="assets/list/address.png" />
                                                <h4 class="address_h4"><%=restinfo.address%></h4>
                                                <img class="time" src="assets/list/clock.png" />
                                                <h4 class="time_h4"><%=restinfo.openwhen%></h4>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            
                            <% end %>
                        <%end %>
                    </div>
                </div>
                <div class="section">
                    <div class="section_head">
                        <button><img src="assets/list/globe.png" />유럽/아메리카</button>
                    </div>
                    <div class="section_content">
                        <% @restinfos.each do |restinfo|%>
                            <% if restinfo.continent == '유럽/아메리카' %>
                            
                                <div class="card" data-location=<%=restinfo.filter_where%> data-price=<%=restinfo.filter_price%> data-type=<%=restinfo.filter_type%>>
                                    <a href="#modal<%= restinfo.googleurl%>" style="text-decoration:none">    
                                        <div class="title">
                                            <!--DB에서 가져오기-->
                                            <div class="flag"><img src= <%= "assets/restaurant/"+ restinfo.restname + "/flag.png"%> /></div>
                                            <div class="country" style=<%= "color:"+ restinfo.font%>><%= restinfo.flag%></div>
                                        </div>
                                        <div class="content">
                                            <!--DB에서 가져오기-->
                                            <div class="food"><img src=<%= "assets/restaurant/"+ restinfo.restname + "/menu1.png"%> /></div>
                                            <div class="restaurant"><%=restinfo.rest_kor%></div>
                                            <div class="address_time">
                                                <img class="address" src="assets/list/address.png" />
                                                <h4 class="address_h4"><%=restinfo.address%></h4>
                                                <img class="time" src="assets/list/clock.png" />
                                                <h4 class="time_h4"><%=restinfo.openwhen%></h4>
                                            </div>
                                        </div>
                                    </a>    
                                </div>
                        
                            <% end %>
                        <%end %>
                    </div>
                </div>
                <!--대륙별 음식점 목록 토글 기능-->
                <script>
                    $(document).ready(function () {
                        $(".section_content").show();
                        //처음 화면에서 음식점 카드 항상 보이게
                        $(".section_head").click(function () {
                            $(this).next(".section_content").slideToggle(500);
                        });
                        //클릭 -> 토글 기능
                    });
                </script>
                <script language="JavaScript" type="text/javascript" src="assets/packs/listpage.js"></script>
            </div>
        </div>
        <!--footer 영역, 여백을 위해 만듦-->
        <div class="footer"></div>
    </body>
</html>
