<!DOCTYPE html>
<html>
    <head>
        <title>Miji World</title>
        <meta charset="UTF-8" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet" />
   	    <link href="assets/jqueryui/jquery-ui.min.css" rel="stylesheet">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script src="assets/jqueryui/jquery-ui.min.js"></script>
		<script src="assets/jqueryui/rating/jquery.star-rating-svg.js"></script>
		<link rel="stylesheet"  href="assets/jqueryui/rating/star-rating-svg.css">

		<style>
			.ui-datepicker{ font-size: 16px; width: 240px; margin-left: 45px; margin-top: 10px;}
			.ui-datepicker select.ui-datepicker-month{ width:30%; font-size: 11px; }
			.ui-datepicker select.ui-datepicker-year{ width:40%; font-size: 11px; }
		</style>

		
		<script>

			$(document).ready(function () {
				$('#datepicker').datepicker ({
					dateFormat: 'yy.mm.dd',
					prevText: '이전 달',
					nextText: '다음 달',
					monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
					monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
					dayNames: ['일', '월', '화', '수', '목', '금', '토'],
					dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
					dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
					showMonthAfterYear: true,
					yearSuffix: '년',
					onSelect: onDateChange
				});
				function onDateChange(dateText, inst){
					$("#select_date").val(dateText);
				}
			});
				
		</script>
	
	</head>

    <body id ="map_body">
        <div class="logo">
            <img src="/assets/logo/logo.png" />
        </div>


            <%= render 'restaurant' %>

        


        <div class="world-map">
            <img src="../assets/map/worldmap.png" class="world-map-image" />


            <button class="pin" style="top: 34%; left: 30%">
                <img src="../assets/pin/sky.png" class="pin-img" />
                <div class="pin-content">
                    <div class="country" style="color: skyblue">우즈베키스탄</div>
                    <a href="#modal1" class="restaurant">
                        <img src="../assets/restaurant/samarkant/samarkant_menu2.png" class="res-img" />
                        <div class="res-name">사마르칸트</div>
                    </a>
                </div>
            </button>
            <!-- stylesheet test -->
            <button class="pin" style="top: 50%; left: 50%">
                <img src="../assets/pin/sky.png" class="pin-img" />
                <div class="pin-content">
                    <div class="country" style="color: skyblue">우즈베키스탄</div>
                    <a href="#modal3" class="restaurant">
                        <img src="../assets/restaurant/samarkant/samarkant_menu2.png" class="res-img" />
                        <div class="res-name">서사마르칸트</div>
                    </a>
                </div>
            </button>


            <% @pins.each do |pin| %>
                <% rest = Restinfo.find(pin.restinfo_id) %>
                <button class="pin" style="top: <%= pin.pos_x %>%; left: <%= pin.pos_y %>%">
                <img src="../assets/pin/<%= pin.pin_image %>.png" class="pin-img" />
                <div class="pin-content">
                    <div class="country" style="color: <%= rest.font %>">우즈베키스탄</div>
                    <%= link_to( map_path(anchor: "modal1", restid: pin.restinfo_id), class: "restaurant", data: { turbolinks: false } ) do %>
                        <img src="../assets/restaurant/samarkant/samarkant_menu2.png" class="res-img" />
                        <div class="res-name"><%= rest.restname %></div>
                    <% end %>
                </div>
            </button>
            <% end %>

        </div>
        
    </body>
</html>