<!DOCTYPE html>
<html>
    <head>
        <title>Miji World</title>
        <meta charset="UTF-8" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet" />
   	    <link href="assets/jqueryui/jquery-ui.min.css" rel="stylesheet">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script src="assets/jqueryui/jquery-ui.min.js"></script>
		<script src="assets/jqueryui/rating/jquery.star-rating-svg.js"></script>
		<link rel="stylesheet"  href="assets/jqueryui/rating/star-rating-svg.css">

		<style>
			.ui-datepicker{ font-size: 16px; width: 240px; margin-left: 45px; margin-top: 10px;}
			.ui-datepicker select.ui-datepicker-month{ width:30%; font-size: 11px; }
			.ui-datepicker select.ui-datepicker-year{ width:40%; font-size: 11px; }
		</style>

		
		<script>

			$(document).ready(function () {
				$('#datepicker').datepicker ({
					dateFormat: 'yy.mm.dd',
					prevText: '이전 달',
					nextText: '다음 달',
					monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
					monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
					dayNames: ['일', '월', '화', '수', '목', '금', '토'],
					dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
					dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
					showMonthAfterYear: true,
					yearSuffix: '년',
					onSelect: onDateChange
				});
				function onDateChange(dateText, inst){
					$("#select_date").val(dateText);
				}
			});
				
		</script>
	
	</head>

    <body id ="map_body">
        <div class="logo">
            <img src="/assets/logo/logo.png" />
        </div>


            <%= render 'restaurant' %>

        


        <div class="world-map">
            <img src="../assets/map/worldmap.png" class="world-map-image" />


            <button class="pin" style="top: 38%; left: 30%">
                <img src="../assets/pin/sky.png" class="pin-img" />
                <div class="pin-content">
                    <div class="country" style="color: skyblue">우즈베키스탄</div>
                    <a href="#modal1" class="restaurant">
                        <img src="../assets/restaurant/samarkant/samarkant_menu2.png" class="res-img" />
                        <div class="res-name">사마르칸트</div>
                    </a>
                </div>
            </button>

            <!--Asia-->

            <button class="pin" style="top: 49%; left: 31%">
                <img src="../assets/pin/green.png" class="pin-img" />
                <div class="pin-content">
                    <div class="country" style="color: green">파키스탄</div>
                    <a href="pak_india.html" class="restaurant">
                        <img src="../assets/restaurant/pak_india/menu1.png" class="res-img" />
                        <div class="res-name">팍 인디아</div>
                    </a>
                </div>
            </button>

            <button class="pin" style="top: 65%; left: 42.5%">
                <img src="../assets/pin/blue.png" class="pin-img" />
                <div class="pin-content">
                    <div class="country" style="color: blue">말레이시아</div>
                    <a href="worldmap.html" class="restaurant">
                        <img src="../assets/restaurant/kampungku/kampungku_menu2.png" class="res-img" />
                        <div class="res-name">캄풍쿠</div>
                    </a>
                </div>
            </button>

            <button class="pin" style="top: 61%; left: 34.5%">
                <img src="../assets/pin/orange.png" class="pin-img" />
                <div class="pin-content">
                    <div class="country" style="color: orange">스리랑카</div>
                    <a href="worldmap.html" class="restaurant">
                        <img src="../assets/restaurant/senok/senok_menu1.png" class="res-img" />
                        <div class="res-name">세녹</div>
                    </a>
                </div>
            </button>

            <button class="pin" style="top: 64%; left: 40%">
                <img src="../assets/pin/red.png" class="pin-img" />
                <div class="pin-content">
                    <div class="country" style="color: red">싱가포르</div>
                    <a href="worldmap.html" class="restaurant">
                        <img src="../assets/restaurant/kkai/kkai_menu1.png" class="res-img" />
                        <div class="res-name">까이식당</div>
                    </a>
                </div>
            </button>

            <button class="pin" style="top: 55%; left: 40%">
                <img src="../assets/pin/blue.png" class="pin-img" />
                <div class="pin-content">
                    <div class="country" style="color: blue">라오스</div>
                    <a href="worldmap.html" class="restaurant">
                        <img src="../assets/restaurant/raobbiyak/raobbiyak_menu1.png" class="res-img" />
                        <div class="res-name">라오삐약</div>
                    </a>
                </div>
            </button>

            <button class="pin" style="top: 59%; left: 40.5%">
                <img src="../assets/pin/red.png" class="pin-img" />
                <div class="pin-content">
                    <div class="country" style="color: red">캄보디아</div>
                    <a href="worldmap.html" class="restaurant">
                        <img src="../assets/restaurant/apsara_angkor/apsara_angkor_menu2.png" class="res-img" />
                        <div class="res-name">압사라 앙코르</div>
                    </a>
                </div>
            </button>

            <button class="pin" style="top: 37%; left: 39%">
                <img src="../assets/pin/red.png" class="pin-img" />
                <div class="pin-content">
                    <div class="country" style="color: red">몽골</div>
                    <a href="worldmap.html" class="restaurant">
                        <img src="../assets/restaurant/zallus/zallus_menu1.png" class="res-img" />
                        <div class="res-name">잘루스</div>
                    </a>
                </div>
            </button>

            <button class="pin" style="top: 48%; left: 24%">
                <img src="../assets/pin/green.png" class="pin-img" />
                <div class="pin-content">
                    <div class="country" style="color: green">요르단</div>
                    <a href="worldmap.html" class="restaurant">
                        <img src="../assets/restaurant/zallus/zallus_menu1.png" class="res-img" />
                        <div class="res-name">페트라</div>
                    </a>
                </div>
            </button>

            <!--America-->
            <button class="pin" style="top: 68%; left: 83%">
                <img src="../assets/pin/green.png" class="pin-img" />
                <div class="pin-content">
                    <div class="country" style="color: green">브라질</div>
                    <a href="copacabanagrill.html" class="restaurant">
                        <img src="../assets/icon/exit1.png" class="res-img" />
                        <div class="res-name">코파카바나그릴</div>
                    </a>
                </div>
            </button>

            <button class="pin" style="top: 82%; left: 81%">
                <img src="../assets/pin/sky.png" class="pin-img" />
                <div class="pin-content">
                    <div class="country" style="color: blue">아르헨티나</div>
                    <a href="worldmap.html" class="restaurant">
                        <img src="../assets/icon/exit1.png" class="res-img" />
                        <div class="res-name">부에노스아이레스</div>
                    </a>
                </div>
            </button>

            <button class="pin" style="top: 43%; left: 72%">
                <img src="../assets/pin/blue.png" class="pin-img" />
                <div class="pin-content">
                    <div class="country" style="color: blue">미국</div>
                    <a href="worldmap.html" class="restaurant">
                        <img src="../assets/icon/exit1.png" class="res-img" />
                        <div class="res-name">네이키드윙즈</div>
                    </a>
                </div>
            </button>

            <!--Europe-->
            <button class="pin" style="top: 37%; left: 18%">
                <img src="../assets/pin/red.png" class="pin-img" />
                <div class="pin-content">
                    <div class="country" style="color: red">체코</div>
                    <a href="worldmap.html" class="restaurant">
                        <img src="../assets/icon/exit1.png" class="res-img" />
                        <div class="res-name">벨라프라하</div>
                    </a>
                </div>
            </button>

            <button class="pin" style="top: 43%; left: 20%">
                <img src="../assets/pin/blue.png" class="pin-img" />
                <div class="pin-content">
                    <div class="country" style="color: blue">그리스</div>
                    <a href="worldmap.html" class="restaurant">
                        <img src="../assets/icon/exit1.png" class="res-img" />
                        <div class="res-name">그릭조이</div>
                    </a>
                </div>
            </button>

            <button class="pin" style="top: 28%; left: 18%">
                <img src="../assets/pin/yellow.png" class="pin-img" />
                <div class="pin-content">
                    <div class="country" style="color: orange">스웨덴</div>
                    <a href="worldmap.html" class="restaurant">
                        <img src="../assets/icon/exit1.png" class="res-img" />
                        <div class="res-name">헴라갓</div>
                    </a>
                </div>
            </button>

            <button class="pin" style="top: 38%; left: 15%">
                <img src="../assets/pin/blue.png" class="pin-img" />
                <div class="pin-content">
                    <div class="country" style="color: blue">프랑스</div>
                    <a href="worldmap.html" class="restaurant">
                        <img src="../assets/icon/exit1.png" class="res-img" />
                        <div class="res-name">몽 카페 그레고리</div>
                    </a>
                </div>
            </button>

            <!--Africa-->
            <button class="pin" style="top: 47%; left: 13%">
                <img src="../assets/pin/red.png" class="pin-img" />
                <div class="pin-content">
                    <div class="country" style="color: red">모로코</div>
                    <a href="worldmap.html" class="restaurant">
                        <img src="../assets/icon/exit1.png" class="res-img" />
                        <div class="res-name">카사블랑카 샌드위치</div>
                    </a>
                </div>
            </button>

            <button class="pin" style="top: 45%; left: 17%">
                <img src="../assets/pin/red.png" class="pin-img" />
                <div class="pin-content">
                    <div class="country" style="color: red">튀니지</div>
                    <a href="worldmap.html" class="restaurant">
                        <img src="../assets/icon/exit1.png" class="res-img" />
                        <div class="res-name">꾸스꾸스</div>
                    </a>
                </div>
            </button>

            <button class="pin" style="top: 51%; left: 21.5%">
                <img src="../assets/pin/red.png" class="pin-img" />
                <div class="pin-content">
                    <div class="country" style="color: red">이집트</div>
                    <a href="worldmap.html" class="restaurant">
                        <img src="../assets/icon/exit1.png" class="res-img" />
                        <div class="res-name">카이로 바비큐</div>
                    </a>
                </div>
            </button>

            <button class="pin" style="top: 61%; left: 17%">
                <img src="../assets/pin/green.png" class="pin-img" />
                <div class="pin-content">
                    <div class="country" style="color: green">나이지리아</div>
                    <a href="happyhome.html" class="restaurant">
                        <img src="../assets/icon/exit1.png" class="res-img" />
                        <div class="res-name">해피홈</div>
                    </a>
                </div>
            </button>

            <button class="pin" style="top: 60%; left: 14.5%">
                <img src="../assets/pin/yellow.png" class="pin-img" />
                <div class="pin-content">
                    <div class="country" style="color: orange">가나</div>
                    <a href="worldmap.html" class="restaurant">
                        <img src="../assets/icon/exit1.png" class="res-img" />
                        <div class="res-name">사뷔에르 에 아프리크</div>
                    </a>
                </div>
            </button>

            <button class="pin" style="top: 82%; left: 20%">
                <img src="../assets/pin/green.png" class="pin-img" />
                <div class="pin-content">
                    <div class="country" style="color: green">남아프리카 공화국</div>
                    <a href="worldmap.html" class="restaurant">
                        <img src="../assets/icon/exit1.png" class="res-img" />
                        <div class="res-name">브라이 리퍼블릭</div>
                    </a>
                </div>
            </button>

            <button class="pin" style="top: 66%; left: 24%">
                <img src="../assets/pin/red.png" class="pin-img" />
                <div class="pin-content">
                    <div class="country" style="color: red">케냐</div>
                    <a href="worldmap.html" class="restaurant">
                        <img src="../assets/icon/exit1.png" class="res-img" />
                        <div class="res-name">케냐 키얌부 커피</div>
                    </a>
                </div>
            </button>

            <button class="pin" style="top: 59%; left: 25%">
                <img src="../assets/pin/blue.png" class="pin-img" />
                <div class="pin-content">
                    <div class="country" style="color: blue">에티오피아</div>
                    <a href="worldmap.html" class="restaurant">
                        <img src="../assets/icon/exit1.png" class="res-img" />
                        <div class="res-name">야마레치 에티오피아</div>
                    </a>
                </div>
            </button>

            <button class="pin" style="top: 56%; left: 11%">
                <img src="../assets/pin/red.png" class="pin-img" />
                <div class="pin-content">
                    <div class="country" style="color: red">감비아</div>
                    <a href="worldmap.html" class="restaurant">
                        <img src="../assets/icon/exit1.png" class="res-img" />
                        <div class="res-name">졸로프 아프리카 코리아</div>
                    </a>
                </div>
            </button>











            <% @pins.each do |pin| %>
                <% rest = Restinfo.find(pin.restinfo_id) %>
                <button class="pin" style="top: <%= pin.pos_x %>%; left: <%= pin.pos_y %>%">
                <img src="../assets/pin/<%= pin.pin_image %>.png" class="pin-img" />
                <div class="pin-content">
                    <div class="country" style="color: <%= rest.font %>">우즈베키스탄</div>
                    <%= link_to( map_path(anchor: "modal1", restid: pin.restinfo_id), class: "restaurant", data: { turbolinks: false } ) do %>
                        <img src="../assets/restaurant/samarkant/samarkant_menu2.png" class="res-img" />
                        <div class="res-name"><%= rest.restname %></div>
                    <% end %>
                </div>
            </button>
            <% end %>

        </div>

        <div class="map-footer">
            <p>목록 보기<%= link_to "", "/list", class: "toListButton" %></p>
        </div>
        
    </body>
</html>