<!DOCTYPE html>
<html>
    <head>
        <title>Miji World</title>
        <meta charset="UTF-8" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet" />
   	
	</head>

    <body id ="map_body">
        <div class="logo">
            <img src="/assets/logo/logo.png" />
        </div>


            <%= render 'restaurant' %>

        


        <div class="world-map">
            <img src="../assets/map/worldmap.png" class="world-map-image" />


            <% @pins.each do |pin| %>
                <% rest = Restinfo.find(pin.restinfo_id) %>
                <button class="pin" style="top: <%= pin.pos_y %>%; left: <%= pin.pos_x %>%">
                <a href="#modal<%= rest.googleurl%>" style="text-decoration:none">
                    <img src="../assets/pin/world/<%= pin.pin_image %>.png" class="pin-img" />
                    <div class="pin-content">
                        <div class="country" style="color: <%= rest.font %>"><%= rest.flag %></div>
                        <div class="restaurant" >
                            <img src= "assets/restaurant/<%=rest.restname%>/menu1.png" class="res-img" />
                            <div class="res-name"><%= rest.rest_kor %></div>  
                        </div>              
                    </div>
                </a>
            </button>
            <% end %>

        </div>

        <div class="list_footer">
            <%= link_to "", "/map", class: "toMap" %>
            <%= link_to "", "/list", class: "toList" %>
        </div>
        
    </body>
</html>